body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
    background-color: rgba(135, 207, 235, 0.39);
    color: rgb(46, 39, 121);
    font-family:sans-serif;
    letter-spacing: -0.05rem;
}

button img {
    padding: 2rem 1;
    min-height: 4rem;
    max-height: 4rem;
}

.container img {
    border-radius: 3% 3% 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 5vw;
    max-width: 25%;
    background-color: white;
    border-radius: 3%;
    padding-bottom: 2rem;
}

.text {
    text-align: center;
    padding: 3rem;
}

.proceed {
    background-color: blue;
    color: white;
    font-weight: bold;
    min-height: 3rem;
    max-height: 3rem;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 255, 0.226);
    margin: 1rem;
}

.cancel {
    min-height: 3rem;
    max-height: 3rem;
    background: none;
    font-weight: bold;
}

.plan {
    color: hsl(228, 45%, 44%);
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.048);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.buttons button {
    min-width: 20rem;
    max-width: 20rem;
    border-radius: 0.5rem;
    border: none;
}

.attribution {
    margin: 3rem
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    max-height: 5rem;
    padding: 0 1rem;
}

.button1 {
    text-align: center;
    margin-left: 0;
    margin-right: 3rem;
}

.change {
    text-align: center;
    margin: auto 0;
}